@model WebApplication1.Models.Roles

@{
    ViewBag.Title = "Create::Edit";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
    

<section class="content-header">
    <div class="header-icon">
        <i class="fa fa-users"></i>
    </div>
    <div class="header-title">
        <h1>Role</h1>
        <small></small>
    </div>
</section>


 

    <div class="panel">

        <div class="panel-heading">
            <div class="panel-btns">
               
            </div>
            <h3 class="panel-title">User Role</h3>
            <p></p>
        </div>

        <div id="alert-container" class="col-sm-12" style="margin-top: 5px;">
        </div>
        <div class="panel-body">


    @using (Html.BeginForm("CreateEdit", "ManageRole", FormMethod.Post, new { Id = "GeneralRoleDetailsForm", @class = "form-horizontal" }))
            {


        <p>
            @Html.AntiForgeryToken()
        </p>

                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="Name" placeholder="Enter Role Name" value="@Model.Name" class="form-control" required />
                            <input type="hidden" name="Id" value="@Model.Id"/>
 
                          </div>
                    </div>
                </div>

    }
             
        <div class="row">
            <div class="col-sm-9 col-sm-offset-2" style="margin-top: 10px; padding-right: 30px;">
                <button id="save-role-details-button" class="btn btn-xs btn-primary pull-right">Save Changes</button>

            </div>
        </div>
  
</div>


</div>



@*@section breadcrumbs{
    <li><a href="/User/Index">User</a></li>
    <li class="active"><span>@ViewBag.Action</span></li>
}

@section styles{
    <link href="~/Content/css/jquery.datatables.css" rel="stylesheet" />
    <link href="~/Content/css/dropzone.css" rel="stylesheet" />

}*@

@section Scripts {
 @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/chosen.jquery.min.js"></script>

<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script>
        jQuery(document).ready(function () {
          
          
            //$('#contact-datatable').dataTable(
            //{
            //    "sPaginationType": "full_numbers",
            //    "aoColumnDefs": [
            //        { 'bSortable': false, 'aTargets': [-1, -2, -3, -4] }
            //    ]
            //});

            //$('#document-datatable').dataTable(
            //{
            //    "sPaginationType": "full_numbers",
            //    "aoColumnDefs": [
            //        { 'bSortable': false, 'aTargets': [-1, -2] }
            //    ]
            //});
            $('#liU').addClass('active');

            $("#GeneralRoleDetailsForm").validate({
                rules: {
                    Name: {
                        required: true
                    }
                },

                messages: {
                   Name: {
                        required: "Please enter  Role Name"
                    },
                    
                }



            });

            // Chosen Select
         
            // Show aciton upon row hover
            jQuery('.table-hidaction tbody tr').hover(function () {
                jQuery(this).find('.table-action-hide a').animate({ opacity: 1 });
            }, function () {
                jQuery(this).find('.table-action-hide a').animate({ opacity: 0 });
            });

            $('#save-role-details-button').click(function () {
                if ($("#GeneralRoleDetailsForm").valid() == true) {
                    var form = $('#GeneralRoleDetailsForm');
                    challengerApp.CreateEdit(form, saveCallback);
                    $("#GeneralRoleDetailsForm").trigger("reset");
                }
            });

            var saveCallback = function (data) {
                switch (data.NotifyType) {

                    case 0: $("#alert-container").html(data.Html);
                        setTimeout(function () {
                            $("#alert-container").html('');
                        }, 8000)
                        break;
                }
            }

       


            
         
        });
    </script>

}
